@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #b700ff;
    --branco: #ff7b00;
    --preto: #c7a43b;
    --azul-degrade: linear-gradient(97.54deg, #1100ff 35.49%, #29eeee 165.37%);
    --fonte-principal: "poppins";
    --azul: #00ff40;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #ff0022;
    --cinza-claro: #e900d5;
}

body {
    background-color: var(--cor-de-fundo);
    font: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}